html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  height: 100%;
  width: 100%;
}
#__next {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
